<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员审核报销页面</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>

    <style>
        .layui-input:focus, .layui-textarea:focus{
            border-color:#5FB878!important
        }
        #layer_bill_detail{
            display: none;
        }
        .zhouQuanImg{
            width: 120px;
            height: 120px;
            margin: 0 10px 10px 0;
        }
       body .priorityTips .layui-layer-title{
            color:#FF0000;
        }
        body .buttonStyle .layui-layer-btn0{
            border-color: #FF0000;
            background-color: #FF5722;
            color: #FFFFFF;
        }
        body .priorityTips{
            color:#FFB800;
        }
    </style>
</head>
<body>
<div class="form-data">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>备案审核表</legend>
    </fieldset>
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">审核须知</h2>
            <div class="layui-colla-content">
                ① 你在审核时对于不满足备案条件的申报应当给予“不通过”并给出原因<br>
                ② 对于符合备案条件的申报，你应当给予“通过”。同时你可以对每项预算进行调整。
                如：“2张南昌至北京高铁二等座1200元”，你可以写下：“2张南昌至北京车票600元”<br>
                ③ 最后报销金额以你写下的为准
            </div>
        </div>
    </div>
    <table class="layui-hide" id="bill_state" lay-filter="bill_operate"></table>
    <!-- <table class="layui-hide" id="bill_state_detail" lay-filter="application_state_detail"></table>-->
</div>
<div id="layer_bill_detail">
    <table class="layui-table" id="bill_detail_table" lay-filter="bill_detail" lay-size="lg">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <td>备案编号</td>
            <td id="bid"></td>
        </tr>
        </thead>
        <tbody>
        <!--比赛信息-->
        <tr>
            <td>比赛名称</td>
            <td id="ctname"></td>
        </tr>
        <tr>
            <td>作品名称</td>
            <td id="workName"></td>
        </tr>
        <tr>
            <td>参赛年份</td>
            <td id="cyear"></td>
        </tr>
        <tr>
            <td>行程描述</td>
            <td id="describeCompetition"></td>
        </tr>
        <tr>
            <td>学科和科技竞赛分类</td>
            <td id="com_type"></td>
        </tr>
        <tr>
            <td>参赛级别类型</td>
            <td id="clevel"></td>
        </tr>
        <tr>
            <td>预算费用</td>
            <td id="predictfee"></td>
        </tr>
        <tr>
            <td>预算描述</td>
            <td id="preditfeedesc"></td>
        </tr>
        <tr>
            <td>实际到账</td>
            <td id="trueProfit"></td>
        </tr>
        <tr>
            <td>申请状态</td>
            <td id="state"></td>
        </tr>
        <tr>
            <td>项目成员</td>
            <td id="member"></td>
        </tr>
        <tr>
            <td>团队负责人姓名</td>
            <td id="memberCaptainName"></td>
        </tr>
        <tr>
            <td>团队负责人编号</td>
            <td id="memberCaptainNum"></td>
        </tr>
        <tr>
            <td>指导老师</td>
            <td id="teacher"></td>
        </tr>
        <tr>
            <td>入围名单</td>
            <td id="evidence"></td>
        </tr>
        <tr>
            <td>邀请函</td>
            <td id="invitation"></td>
        </tr>
        <tr>
            <td>审核信息</td>
            <td id="note"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="../asserts/js/jquery-1.12.4.js"></script>
<script src="../asserts/js/layui/layui.all.js"></script>

<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail" id="btn_detail" name="btn_detail">查看详情</button>
    {{#  if(d.state == 0){ }}
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="admin_audit" id="btn_admin_audit" name="btn_admin_audit">审核</button>
    {{#  } }}
</script>
<script type="text/html" id="toolbar_billState">
    <div class="layui-input-inline layui-form" lay-filter="selectForm">
        <select name="chooseBox" id="chooseTypeBtn" lay-filter="stateSelect">
            <option value="4">全部备案</option>
            <option value="0">待审核</option>
            <option value="1">未通过</option>
            <option value="2">待核销</option>
            <option value="3">已核销</option>
        </select>
    </div>
</script>

<script>
    layui.use(['table','layer','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var selectValue="4";//全局下拉值
        //显示表单状态基本信息
        var bill_state=table.render({
            elem: '#bill_state'
            ,height: 410
            ,url: ' /bill/query'//数据接口
            ,page: true //开启分页
            ,toolbar:"#toolbar_billState"
            ,where:{'type':"4"}
            ,loading: true
            ,cols: [
                [ //表头
                    {field: 'bid', title: '备案编号', width:180, align: 'center',sort: true, fixed: 'left'}
                    ,{field: 'ctname', title: '竞赛名称', minWidth:200,align: 'center',templet: '<div>{{d.competition.ctname}}</div>'}
                    ,{field: 'workName', title: '参赛作品名', align:'center', width:180}
                /*    ,{field: 'applicantId', title: '申请人', width:85,templet: '<div>{{d.appplicantStu.sname}}</div>'}*/
                    ,{field: 'groupleader', title: '项目负责人', align: 'center', width:97}
                    ,{field: 'cyear', title: '参赛年份', align:'center', width: 108, sort: true}
                    ,{field: 'predictfee', title: '预算费用',align:'center', width: 133, sort: true}
                    ,{field: 'state', title: '申请状态', align:'center', width: 120,templet: function(d){
                        if (d.state==0) {  // 自定义内容
                            return '<span style="color: #c2c2c2;">待审核</span>';
                        } else if (d.state==1) {
                            return '<span style="color: #FF5722;">审核未通过</span>';
                        }
                        else if (d.state==2) {
                            return '<span style="color: #5FB878;">待核销</span>';
                        }else {
                            return '<span style="color: #009688;">已核销</span>';
                        }
                    }}
                    ,{fixed: 'right', title:'操作', align:'center',toolbar: '#bar',width:180}
                ]
            ]
        });
        //表格：“表单状态基本信息” 实例的监听工具条
        table.on('tool(bill_operate)', function(obj){ //注：tool 是工具条事件名，application_state 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'detail'){ //查看详情
                $.ajax(
                    {
                        url: '/bill/queryDetail?bid=' + data.bid,
                        type: 'GET',   // 请求方式
                        success: function (result) {
                            result.data.student=data.student;
                            if(data.state==0){
                                layer.open({
                                    type: 1
                                    ,title: '查看详细信息'  //弹出层标题
                                    ,area: ['800px', '400px']   //设置弹出层大小[宽，高]
                                    ,offset: 'auto'   //设置弹出层位置 //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                    ,content:$("#layer_bill_detail")
                                    ,shade: 0 //不显示遮罩
                                    ,skin: 'buttonStyle'
                                    ,btn:['审核']
                                    ,yes: function () {  //确定按钮回调方法， 需要手动关闭弹出层
                                        layer.closeAll();
                                        review(data.bid);
                                    }
                                    ,end:function(){
                                    }
                                });
                            }else {
                                layer.open({
                                    type: 1
                                    ,title: '查看详细信息'  //弹出层标题
                                    ,area: ['800px', '400px']   //设置弹出层大小[宽，高]
                                    ,offset: 'auto'   //设置弹出层位置 //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                    ,content:$("#layer_bill_detail")
                                    ,shade: 0 //不显示遮罩
                                    ,btn:['确认']
                                    ,yes: function () {  //确定按钮回调方法， 需要手动关闭弹出层
                                        layer.closeAll();
                                    }
                                });
                            }
                            setTableValue(result.data);//动态向表格赋值
                        },
                        error: function () {
                            layer.msg("网络出错啦＞﹏＜");
                        }
                    }
                );
            }else if(layEvent === 'admin_audit'){ //确定该条申请结果
                layer.confirm('你是否通过该条备案申请？', {
                    btn: ['通过','不通过'],title:'重要步骤',skin:'priorityTips',icon:7
                }, function(){
                    layer.prompt({
                        title: '你需要做出相关说明',
                        formType: 2,
                        value:'同意所报备金额'
                    }, function(text, index){
                        layer.close(index);
                        $.ajax(
                            {
                                url: '/bill/accept?bid=' + data.bid+'&note='+text,
                                type: 'POST',   // 请求方式
                                success: function (result) {
                                    if(result.code == 200){
                                        layer.msg("审核成功！你同意该备案。");
                                    }else {
                                        layer.msg("未知错误！");
                                    }
                                    bill_state.reload();   //表格重载
                                    form.val('selectForm',{
                                        chooseBox:selectValue
                                    });
                                    form.render('select');
                                },
                                error: function () {
                                    layer.msg("网络出错啦＞﹏＜"); // 请求失败时的回调函数
                                }
                            }
                        );
                    });
                },function(){
                    layer.prompt({title: '请简述审核不通过的原因', formType: 2}, function(text, index){
                        layer.close(index);
                        $.ajax(
                            {
                                url: '/bill/refuse?bid=' + data.bid+'&note='+text,
                                type: 'POST',   // 请求方式
                                success: function (result) {
                                    if(result.code == 200){
                                        layer.msg("审核成功！你不同意该备案。");
                                    }else {
                                        layer.msg("未知错误！");
                                    }
                                    bill_state.reload();   //表格重载
                                    form.val('selectForm',{
                                        chooseBox:selectValue
                                    });
                                    form.render('select');
                                },
                                error: function () {
                                    layer.msg("网络出错啦＞﹏＜"); // 请求失败时的回调函数
                                }
                            }
                        );
                    });
                });
            }
        });
        function review(bid){
            layer.confirm('你是否通过该条备案申请？', {
                btn: ['通过','不通过'],title:'重要步骤',skin:'priorityTips',icon:7
            }, function(){
                layer.prompt({
                    title: '你需要做出相关说明',
                    formType: 2,
                    value:'同意所报备金额'
                }, function(text, index){
                    layer.close(index);
                    $.ajax(
                        {
                            url: '/bill/accept?bid=' +bid+'&note='+text,
                            type: 'POST',   // 请求方式
                            success: function (result) {
                                if(result.code == 200){
                                    layer.msg("审核成功！你同意该备案。");
                                }else {
                                    layer.msg("未知错误！");
                                }
                                bill_state.reload();   //表格重载
                                form.val('selectForm',{
                                    chooseBox:selectValue
                                });
                                form.render('select');
                            },
                            error: function () {
                                layer.msg("网络出错啦＞﹏＜"); // 请求失败时的回调函数
                            }
                        }
                    );
                });
            },function(){
                layer.prompt({title: '请简述审核不通过的原因', formType: 2}, function(text, index){
                    layer.close(index);
                    $.ajax(
                        {
                            url: '/bill/refuse?bid=' +bid+'&note='+text,
                            type: 'POST',   // 请求方式
                            success: function (result) {
                                if(result.code == 200){
                                    layer.msg("审核成功！你不同意该备案。");
                                }else {
                                    layer.msg("未知错误！");
                                }
                                bill_state.reload();   //表格重载
                                form.val('selectForm',{
                                    chooseBox:selectValue
                                });
                                form.render('select');
                            },
                            error: function () {
                                layer.msg("网络出错啦＞﹏＜"); // 请求失败时的回调函数
                            }
                        }
                    );
                });
            });
        }
        form.on('select(stateSelect)', function(data){
            selectValue=data.value;
            bill_state.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    type: selectValue
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            form.val('selectForm',{
                chooseBox:selectValue
            });
            form.render('select');
        });
        function setTableValue(data){
            var bid=document.getElementById('bid');
            var ctname=document.getElementById('ctname');
            var workName=document.getElementById('workName');
            var cyear=document.getElementById('cyear');
            var com_type=document.getElementById('com_type');
            var clevel=document.getElementById('clevel');
            var predictfee=document.getElementById('predictfee');
            var trueProfit=document.getElementById("trueProfit");
            var preditfeedesc=document.getElementById('preditfeedesc');
            var state=document.getElementById('state');
            var member=document.getElementById("member");
            var teacher=document.getElementById("teacher");
            var evidence=document.getElementById("evidence");
            var invitation=document.getElementById("invitation");
            var memberCaptainName=document.getElementById("memberCaptainName");
            var memberCaptainNum=document.getElementById("memberCaptainNum");
            var describeCompetition=document.getElementById("describeCompetition");
            var note=document.getElementById("note");
            var str1=data.bid;
            var strYear=str1.substring(1,5);
            var strSuffix=data.attachfile;
            if(strSuffix!=null){
                var img_url = "/" +strYear+"/billfile/"+strSuffix;
                if(strSuffix.endsWith("pdf")){
                    evidence.innerHTML="<a style='color: #0000FF' target='_blank' href='"+img_url+"'>点击查看</a>&emsp;&emsp;<a style='color: #0000FF' href='"+img_url+" ' download='"+data.student.sname+data.cyear+data.competition.ctname+'入围名单'+"'>下载</a>";
                }else {
                    evidence.innerHTML="<img class='zhouQuanImg' src='"+img_url+"'/>&emsp;&emsp;<a style='color: #0000FF' href='"+img_url+" ' download='"+data.student.sname+data.cyear+data.competition.ctname+'入围名单'+"'>下载</a>";
                }
            }else {
                evidence.innerHTML="未上传名单"
            }
            if(data.invitation!=null){
                var img_url2 = "/" +strYear+"/billfile/"+data.invitation;
                invitation.innerHTML="<img class='zhouQuanImg'  src='"+img_url2+"'/>&emsp;&emsp;<a style='color: #0000FF' href='"+img_url2+" ' download='"+data.student.sname+data.cyear+data.competition.ctname+'邀请函'+"'>下载</a>";
            }else {
                invitation.innerHTML="无邀请函"
            }
            var tempMember="";
            var tempTeacher="";
            for(var i=0;i<data.students.length-1;i++)
            {
                tempMember+=data.students[i].sname+"，";
            }
            tempMember+=data.students[data.students.length-1].sname;
            if(data.teachers!=null){
                for(var i=0;i<data.teachers.length-1;i++)
                {
                    tempTeacher+=data.teachers[i].tname+"，";
                }
                tempTeacher+=data.teachers[data.teachers.length-1].tname;
                teacher.innerHTML=tempTeacher;
            }else {
                teacher.innerHTML="无";
            }
            bid.innerHTML=data.bid;               // 使用 DOM
            ctname.innerHTML=data.competition.ctname;
            workName.innerHTML=data.workName;
            cyear.innerHTML=data.cyear+"年";
            var str_1=data.competition.com_type;
            var competitionType = str_1.replace(/\s*/g,"");//去除空格，Oracle中char类型不满长度补空格
            if(competitionType.length==2){
                var str2=competitionType.substr(1,1);
                com_type.innerHTML="重点竞赛"+str2+"类";
            }else {
                com_type.innerHTML="一般竞赛";
            }
            predictfee.innerHTML=data.predictfee+"元";
            preditfeedesc.innerHTML=data.preditfeedesc;
            member.innerHTML=tempMember;
            memberCaptainName.innerHTML=data.student.sname;
            memberCaptainNum.innerHTML=data.student.sno;
            //参赛级别类型
            if(data.clevel==0)
            {
                clevel.innerHTML="省级";
            }
            if(data.clevel==1)
            {
                clevel.innerHTML="国家级";
            }
            //申请状态
            if(data.state==0)
            {
                state.innerHTML="未审核";
            }else if(data.state==1)
            {
                state.innerHTML="未通过";
            }else if(data.state==2)
            {
                state.innerHTML="待核销";
            }else {
                state.innerHTML="已核销";
            }
            if(data.ackAccount!=null){
                trueProfit.innerHTML=data.ackAccount+"元";
            }else {
                trueProfit.innerHTML="等待确认";
            }
             if(data.note!= null)
             {
                 note.innerHTML=data.note;
             }else {
                 note.innerHTML="等待审核";
             }
            if(data.cdesc!= null)
            {
                describeCompetition.innerHTML=data.cdesc;
            }else {
                describeCompetition.innerHTML="暂无描述";
            }

        }
    });
</script>
</body>
</html>