<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>备案公告发布</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px">
    <legend>编辑备案须知</legend>
</fieldset>
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">文章标题</label>
        <div class="layui-input-block">
            <input type="text" id="title" placeholder="请输入标题"
                   autocomplete="off" class="layui-input" style="width: 50%">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章内容</label>
        <div class="layui-input-block" style="width: 80%">
            <textarea id="billNotice" style="display: none;" placeholder="请编辑文章内容">
            </textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">上传附件</label>
        <div class="layui-input-block" style="width: 80%">
            <div class="layui-upload">
                <button type="button" class="layui-btn layui-btn-normal" id="testList">选择附件</button>
                <div class="layui-upload-list">
                    <table class="layui-table">
                        <thead>
                        <tr><th>文件名</th>
                            <th>大小</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr></thead>
                        <tbody id="demoList"></tbody>
                    </table>
                </div>
                <button type="button" class="layui-btn" id="testListAction">开始上传</button>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-input-block" style="width: 80%">
            <button class="layui-btn layui-btn-fluid layui-btn-normal layui-btn-radius"
                    id="billNoticeBtn">立即发布</button>
        </div>
    </div>
</div>

<script src="../asserts/js/jquery-1.12.4.js"></script>
<script>
    layui.use(['layedit','upload'], function(){
        var layedit = layui.layedit;
        var $ = layui.jquery;
        var upload = layui.upload;
        var attachmentList="";
        var index=layedit.build('billNotice',{
            height: 400 //设置编辑器高度
            ,tool: [
                'strong','italic' ,'underline','del','|','left','center' //居中对齐
                ,'right' ,'|','link' ,'unlink','face' //表情
            ]
        }); //建立编辑器
        //监听事件
        $("#billNoticeBtn").click(function(){
            var noticeTitle=$("#title").val();
            var noticeContent=layedit.getContent(index);
            console.log(noticeTitle+"-----"+noticeContent+"---"+attachmentList);
            var params = {
                "title":noticeTitle,
                "content":noticeContent,
                "attachments":attachmentList
            }
            $.ajax({
                type: "POST",
                //dataType: "json",//服务器返回的数据类型
                //contentType: "application/json",//post请求的信息格式
                url: "/bill/notice" ,
                data: params,
                dataType: 'json',
                success: function (result) {
                    console.log(result);//服务端返回的数据
                    attachmentList="";
                    if(result.code == 200){
                        layer.msg(result.message);
                    }else {
                        layer.alert("未知错误！");
                    }
                },
                error : function() {
                    layer.msg("服务器错误！");
                }
            });

        });

        var demoListView = $('#demoList')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: '/common/attachment'
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });
                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });
                    demoListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                console.log(res);
                if(res.code == 200){ //上传成功
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    attachmentList+=res.data+",";
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

    });
</script>
</body>
</html>