<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>申请状态</title>
    <link rel="stylesheet" th:href="@{/asserts/js/layui/css/layui.css}" media="all">
    <script th:src="@{/asserts/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/asserts/js/layui/layui.js}"></script>
    <script th:src="@{/asserts/js/app_state_student.js}"></script>
    <style>
        .layui-input:focus, .layui-textarea:focus {
            border-color: #5FB878 !important
        }

        #layer_application_detail {
            display: none;
        }
    </style>
</head>
<body>
<div class="form-data">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>申请状态表</legend>
    </fieldset>
    <table class="layui-hide" id="application_state" lay-filter="application_operate"></table>
    <table class="layui-hide" id="application_state_detail" lay-filter="application_state_detail"></table>
</div>
<div id="layer_application_detail">
    <table class="layui-table" id="application_detail_table" lay-filter="application_detail" lay-skin="line">
        <tbody>
        <!--<tr>-->
        <!--<td>申请编号</td>-->
        <!--<td id="appid"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>比赛名称</td>-->
        <!--<td id="ctname"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>获奖时间</td>-->
        <!--<td id="awardDate"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>第一单位</td>-->
        <!--<td id="unit"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>学科和科技竞赛分类</td>-->
        <!--<td id="com_type"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>成果类型</td>-->
        <!--<td id="result_type"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>获奖级别</td>-->
        <!--<td id="level_type"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>所获奖项</td>-->
        <!--<td id="prize_type"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>作品名称</td>-->
        <!--<td id="workName"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>作品简介</td>-->
        <!--<td id="workBriefIntro"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>申请人学号</td>-->
        <!--<td id="aStu_sno"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>申请人姓名</td>-->
        <!--<td id="aStu_sname"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>申请人班级编号</td>-->
        <!--<td id="aStu_cno"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>项目组长学号</td>-->
        <!--<td id="lStu_sno"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>项目组长姓名</td>-->
        <!--<td id="lStu_sname"></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>项目组长班级编号</td>-->
        <!--<td id="lStu_cno"></td>-->
        <!--</tr>-->

        </tbody>
    </table>
</div>
<script type="text/html" id="toolbar_topOp">
    <div class="layui-input-inline layui-form" lay-filter="formTest">
        <select name="chooseBox" id="chooseTypeBtn" lay-filter="myselect">
            <option value="0">待老师确认</option>
            <option value="1">待审核</option>
            <option value="2">未通过</option>
            <option value="3">已通过</option>
        </select>
    </div>
</script>
<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail" id="btn_detail" name="btn_detail">查看详情
    </button>
    {{#  if(d.status == 2 && d.res == 1){ }}
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ensure" id="btn_ensure" name="btn_ensure">确认
    </button>
    {{#  } }}
</script>

</body>
</html>