<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/asserts/js/layui/css/layui.css}" media="all">
    <script th:src="@{/asserts/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/asserts/js/layui/layui.js}"></script>
    <script th:src="@{/asserts/js/app_form.js}"></script>
</head>
<style>
    .formdata{
        width: 645px;
        margin: 25px auto;
    }
    #layer_ctname,#layer_teacher1Id,#layer_teacher2Id,#layer_studentId{
        display: none;
    }
    .disappear{
        display: none;
    }
    #get_tname{
        display: block;
        width: 100%;
        padding-left: 10px;
        border-color: #e6e6e6;
        text-align: left;
    }

    .layui-form-pane .layui-form-label {
        width: 110px;
        padding: 8px 15px;
        height: 38px;
        line-height: 20px;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px 0 0 2px;
        text-align: center;
        background-color: #FBFBFB;
        overflow: visible;
        box-sizing: border-box;
    }
    #layer_teacher1Id .layui-input{
        margin-top: 5px;
    }
    #layer_teacher1Id button{
        margin-top: 5px;
    }

    .layui-input:focus, .layui-textarea:focus{
        border-color:#5FB878!important
    }
    .comLeaderBox{
        background-color:#2F4056;
    }
</style>
<body>
<!--弹出层：比赛名称-->
<div id="layer_ctname">
    <form class="layui-form" action="" style="margin-top: 20px">
        <label class="layui-form-label">关键词：</label>
        <div class="layui-inline">
            <input class="layui-input" name="search_ctname" id="search_ctname" autocomplete="off" placeholder="请输入比赛名称的关键词">
        </div>
        <button type="button" class="layui-btn" data-type="reload" id="btn_search_ctname">搜索</button>
        <button type="reset" class="layui-btn" id="btn_reset_ctname">重置</button>
    </form>
    <table id="layer_com_table" lay-filter="layer_com_table"></table>
</div>
<!--弹出层：指导老师编号-->
<div id="layer_teacher2Id">
    <form class="layui-form" action="" style="margin-top: 20px">
        <div class="layui-row">
            <label class="layui-form-label">教师编号：</label>
            <div class="layui-inline" style="margin-right: 50px">
                <input class="layui-input" name="search_tno2" id="search_tno2" autocomplete="off" placeholder="" >
            </div>

            教师姓名：
            <div class="layui-inline">
                <input class="layui-input" name="search_tname2" id="search_tname2" autocomplete="off" placeholder="">
            </div>
            <br>

            <label class="layui-form-label">所属学院：</label>
            <div class="layui-inline" style="margin-right: 50px">
                <input class="layui-input" name="search_dcollege2" id="search_dcollege2" autocomplete="off" placeholder="" >
            </div>

            所属部门：
            <div class="layui-inline">
                <input class="layui-input" name="search_dname2" id="search_dname2" autocomplete="off" placeholder="">
            </div>
            <br>

            <label class="layui-form-label">教师职称：</label>
            <div class="layui-inline" style="margin-right: 150px">
                <input class="layui-input" name="search_ttitle2" id="search_ttitle2" autocomplete="off" placeholder="" >
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" data-type="reload" id="btn_search_teacher2Id">搜索</button>
                <button type="reset" class="layui-btn" style="margin-left: 30px">重置</button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="layer_teacher2Id_table" lay-filter="layer_teacher2Id_table"></table>
</div>
<!--弹出层：学生选框-->
<div id="layer_studentId">
    <form class="layui-form" action="" style="margin-top: 20px">
        <div class="layui-form-item" style="text-align: center">
            <div class="layui-inline">
                <input class="layui-input" style="width: 300px" name="search_sno" id="search_sno" autocomplete="off" placeholder="输入学号或姓名" >
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn layui-btn-radius" data-type="reload" id="btn_search_student">
                    <i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
        </div>
    </form>
    <table class="" id="layer_studentId_table" lay-filter="layer_studentId_table"></table>
</div>

<!--表单部分-->

<div class="formdata layui-form">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>学科竞赛成果申报表</legend>
    </fieldset>
<!--    <form class="layui-form layui-form-pane" action="/app/add" method="post" enctype="multipart/form-data">-->
    <form id="form_application" class="layui-form-pane" method="post" enctype="multipart/form-data">
    <div class="layui-row">
        <div class="layui-form-item layui-col-xs6 layui-col-sm6 layui-col-md12">
            <label class="layui-form-label" >比赛名称<span style="color: red">*</span></label>
            <div class="layui-input-block" id="layerDemo_ctname">
                <input type="text"  class="layui-btn layui-btn-primary" name="ctName" id="get_tname" data-method="offset" autocomplete="off" data-type="t" lay-verify="verify_ctname" placeholder="请输入比赛名称">
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6 layui-col-sm6 layui-col-md12" style="display: none">
            <label class="layui-form-label" >比赛编号<span style="color: red">*</span></label>
            <div class="layui-input-block" id="layerDemo_ctId">
                <input type="text"  class="layui-btn layui-btn-primary" name="ctId" id="ctId" data-method="offset" autocomplete="off" data-type="t" lay-verify="verify_ctId" placeholder="">
            </div>
        </div>
        <div class="layui-form-item" id="div_workName">
            <label class="layui-form-label">参赛作品名称<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="workName" id="workName" autocomplete="off" placeholder="请输入参赛作品名称" class="layui-input" lay-verify="verify_workName" >
            </div>
        </div>

        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">获奖时间<span style="color: red">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="awardDate" id="awardDate" autocomplete="off" placeholder="yyyy-mm-dd" class="layui-input" lay-verify="verify_awardDate">
                </div>
            </div>

            <div class="layui-inline" style="float: right;">
                <label class="layui-form-label">获奖第一单位<span style="color: red">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="unit" id="unit" value="南昌大学软件学院" autocomplete="off" class="layui-input" lay-verify="verify_unit" readonly>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">获奖类型<span style="color: red">*</span></label>
            <div class="layui-input-inline">
                <select name="level_type" lay-verify="verify_level_type">
                    <option value="">--</option>
                    <option value="0">省级</option>
                    <option value="1">国家级</option>
                    <option value="2">校级</option>
                    <option value="3">院级</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="prize_type" lay-verify="verify_prize_type">
                    <option value="">--</option>
                    <option value="1">特等奖</option>
                    <option value="2">一等奖</option>
                    <option value="3">二等奖</option>
                    <option value="4">三等奖</option>
                    <option value="5">优秀奖</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">银行卡号<span style="color: red">*</span></label>
            <div class="layui-input-block">
                <input th:if="${session.type} eq '1'" type="number" disabled="true" th:value="${session.loginUser.card_num}" name="applicantBankCard" id="applicantBankCard" autocomplete="off" class="layui-input" lay-verify="verify_BankCard">
                <!--<input th:if="${session.type} eq '1'" type="number" disabled="true" th:value="${session.user.card_num}" name="applicantBankCard" id="applicantBankCard" autocomplete="off" class="layui-input" lay-verify="verify_BankCard">-->
                <!--<input th:if="${session.type} eq '2'" type="number" disabled="true" th:value="${session.user.card_num}" name="applicantBankCard" id="applicantBankCard" autocomplete="off" class="layui-input" lay-verify="verify_BankCard">-->
            </div>
        </div>

        <div class="layui-form-item layui-form-text" id="div_workBriefIntro">
            <label class="layui-form-label">作品简介<span style="color: red">*</span></label>
            <div class="layui-input-block"  >
                <textarea name="workBriefIntro" id="workBriefIntro" placeholder="100字左右即可" class="layui-textarea" lay-verify="verify_workBriefIntro"></textarea>
            </div>
        </div>

        <div class="layui-collapse">
            <div class="layui-collapse" lay-accordion="">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">指导老师填写说明</h2>
                    <div class="layui-colla-content">
                        ① 以此顺序区分指导老师排名顺序<br>② 奖金比例总和100<br>③ 如为学生填写申请，请提前和老师商榷奖金比例
                    </div>
                </div>
                <div class="layui-colla-item " id="stuTipsBox">
                    <h2 class="layui-colla-title">学生填写说明</h2>
                    <div class="layui-colla-content">
                        ① 以此顺序区分排名顺序<br>② 奖金比例总和100
                    </div>
                </div>
            </div>

            <div class="layui-form-item"  id="teacherArea">

                <table id="teacherListTable" lay-filter="teacherListTableFilter">

                </table>
            </div>
            <div class="layui-form-item" id="studentArea">
                <input type="hidden" name="leader" id="leader" th:if="${session.type} eq '1'" th:value="${session.loginUser.sno}">
                <input type="hidden" name="leader" id="leader" th:else value="">
                <input type="hidden" name="tms" id="tms" value=""  lay-verify="verify_tms">
                <table id="stuListTable" lay-filter="stuListTableFilter">
                </table>
            </div>
        </div>

        <div class="layui-form-item" style="display: none">
            <div class="layui-inline ">
                <label class="layui-form-label">真实指导老师</label>
                <input type="text" name="ts" id="ts" data-method="offset" value="" data-type="t" autocomplete="off" class="layui-input layui-btn layui-btn-primary">
            </div>
        </div>

        <div class="layui-collapse">
            <div class="layui-collapse" lay-accordion="">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">获奖证书上传须知</h2>
                    <div class="layui-colla-content">
                        ① 字体清晰可见<br>② 文件大小不超过 1024KB<br>③ 支持格式：jpg、png、bmp、jpeg
                    </div>
                </div>
                <div class="layui-colla-item " id="docTipsBox">
                    <h2 class="layui-colla-title">参赛报告上传须知</h2>
                    <div class="layui-colla-content">
                        ① 文件大小不超过 1024KB<br>② 支持格式：PDF
                    </div>
                </div>
                <div class="layui-colla-item " id="pacTipsBox">
                    <h2 class="layui-colla-title">花絮上传须知</h2>
                    <div class="layui-colla-content">
                        ① 文件大小不超过 10MB<br>②包括但不限于一下文件：比赛花絮、邀请函、决赛名单<br>③ 支持格式：rar、zip、7z
                    </div>
                </div>
            </div>
            <div class="layui-upload layui-form-item">
                <div class="layui-upload">
                    <!--<button   type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>-->
                    <div class="">
                        <table class="layui-table" lay-filter="file_table_filter">
                            <thead>
                            <th>描述</th>
                            <th>文件名</th>
                            <th>文件大小</th>
                            <th>文件状态</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <!--参赛证书-->
                            <tr>
                                <th>获奖证书</th>
                                <th></th>
                                <th>0</th>
                                <th>未上传</th>
                                <th>
                                    <a class="layui-btn layui-btn-xs" id="upload_cer">上传</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                                </th>
                            </tr>
                            <!--参赛报告-->
                            <tr id="docFileBox">
                                <th>参赛报告</th>
                                <th></th>
                                <th>0</th>
                                <th>未上传</th>
                                <th>
                                    <a class="layui-btn layui-btn-xs" id="upload_doc">上传</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                                </th>
                            </tr>
                            <!--花絮-->
                            <tr id="pacFileBox">
                                <th>其他文件</th>
                                <th></th>
                                <th>0</th>
                                <th>未上传</th>
                                <th>
                                    <a class="layui-btn layui-btn-xs" id="upload_pac">上传</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<button type="button" class="layui-btn" id="testListAction">开始上传</button>-->
                </div>
                <input type="hidden" name="certificateImg" id="certificateImg" value="" lay-verify="certificateImgFilter">
                <input type="hidden" name="getawardImg" id="getawardImg" value="" lay-verify="getawardImgFilter">
                <input type="hidden" name="highLight" id="highLight" value="" lay-verify="highLightFilter">
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid layui-btn-normal layui-btn-radius" lay-submit="" lay-filter="application_form_submit" id="application_form_btn">提交申请</button>
        </div>
    </div>
    </form>
</div>

</body>
<!--日期与时间选择-->
<!--获得比赛名称-获取选中行数据-->
<script type="text/html" id="toolbar_ctname">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData_ctname">获取选中行数据</button>
    </div>
</script>

<!--获得指导老师2-获取选中行数据-->
<script type="text/html" id="toolbar_teacher2Id">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData_teacher2Id">获取选中行数据</button>
    </div>
</script>
<!--获得学生-获取选中行数据-->
<script type="text/html" id="toolbar_studentId">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData_studentId">选为项目组长</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData_teamId">选为团队成员</button>
    </div>
</script>
<!--添加老师按钮-->
<script type="text/html" id="toolbar_teacherAdd">
    <div>
        <button type="button" class="layui-btn" id="addteacher" onclick="chooseTeacherBox()">添加老师</button>
        <!--<blockquote style="display: inline;margin-left: 30px">提示：奖金占比总和须为100;此顺序为指导顺序</blockquote>-->
    </div>
</script>
<script type="text/html" id="toolbar_teacherDel">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="changeP">更改占比</a>
</script>
<script type="text/html" id="toolbar_stuAdd">
    <div class="">
        <button type="button" class="layui-btn" id="addStudent" onclick="chooseStudentBox(this)">添加成员</button>
        <!--<blockquote style="display: inline;margin-left: 30px">提示：奖金占比总和须为100;此顺序为作者顺序</blockquote>-->
    </div>
</script>
<script type="text/html" id="toolbar_strDel">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="changeP">更改占比</a>
</script>
<!--文件操作-->
<script type="text/html" id="toolbar_fileOp">
    <a class="layui-btn layui-btn-xs" lay-event="upload">上传</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</html>


