<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看备案状态</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <style>
        .layui-input:focus, .layui-textarea:focus{
            border-color:#5FB878!important
        }
        .zhouQuanImg{
            width: 120px;
            height: 120px;
            margin: 0 10px 10px 0;
        }
        #layer_bill_detail,#layer_bill_modify{
            display: none;
        }
    </style>
</head>
<body>
<div class="form-data">
    <div style="margin-top: 10px">
        <fieldset class="layui-elem-field layui-field-title" >
            <legend>我的备案列表</legend>
        </fieldset>
    </div>
    <div style="margin-top: 40px">
        <table class="layui-hide" id="bill_state" lay-filter="bill_operate">
        </table>
    </div>
</div>
<div id="layer_bill_modify">
    <span style="color: #FF0000;margin-left: 10%">你有1次修改机会</span>
    <div class="layui-form layui-form-pane" style="width: 80%;margin-left: 10%;margin-top: 20px">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">行程描述</label>
            <div class="layui-input-block">
            <textarea id="cdesc" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预算金额</label>
            <div class="layui-input-block">
                <input type="text" id="predictAmount"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">预算描述</label>
            <div class="layui-input-block">
                <textarea id="predictAmountDesc"  class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
</div>
<div id="layer_bill_detail">
    <table class="layui-table" id="bill_detail_table" lay-filter="bill_detail" lay-size="lg">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <td>备案编号</td>
            <td id="bid"></td>
        </tr>
        </thead>
        <tbody>
        <!--比赛信息-->
        <tr>
            <td>比赛名称</td>
            <td id="ctname"></td>
        </tr>
        <tr>
            <td>作品名称</td>
            <td id="workName"></td>
        </tr>
        <tr>
            <td>参赛年份</td>
            <td id="cyear"></td>
        </tr>
        <tr>
            <td>行程描述</td>
            <td id="describeCompetition"></td>
        </tr>
        <tr>
            <td>学科和科技竞赛分类</td>
            <td id="com_type"></td>
        </tr>
        <tr>
            <td>参赛级别类型</td>
            <td id="clevel"></td>
        </tr>
        <tr>
            <td>预算费用</td>
            <td id="predictfee"></td>
        </tr>
        <tr>
            <td>预算描述</td>
            <td id="preditfeedesc"></td>
        </tr>
        <tr>
            <td>实际到账</td>
            <td id="trueProfit"></td>
        </tr>
        <tr>
            <td>申请状态</td>
            <td id="state"></td>
        </tr>
        <tr>
            <td>项目成员</td>
            <td id="member"></td>
        </tr>
        <tr>
            <td>团队负责人姓名</td>
            <td id="memberCaptainName"></td>
        </tr>
        <tr>
            <td>团队负责人编号</td>
            <td id="memberCaptainNum"></td>
        </tr>
        <tr>
            <td>指导老师</td>
            <td id="teacher"></td>
        </tr>
        <tr>
            <td>入围名单</td>
            <td id="evidence"></td>
        </tr>
        <tr>
            <td>邀请函</td>
            <td id="invitation"></td>
        </tr>
        <tr>
            <td>审核信息</td>
            <td id="note"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="../asserts/js/jquery-1.12.4.js"></script>
<script src="../asserts/js/layui/layui.all.js"></script>
<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail" id="btn_detail" name="btn_detail">查看详情</button>
    {{#  if(d.state == 2){ }}
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ensure" id="btn_ensure" name="btn_ensure">到账确认</button>
    {{#  } }}
    {{#  if(d.state == 1){ }}
    <button class="layui-btn layui-btn-warm layui-btn-xs" lay-event="modify" id="btn_modify" name="btn_modify">修改</button>
    {{#  } }}
</script>
<script type="text/html" id="toolbar_billState">
    <div class="layui-input-inline layui-form" lay-filter="selectForm">
        <select name="chooseBox" id="chooseTypeBtn" lay-filter="stateSelect">
            <option value="3">全部备案</option>
            <option value="0">待审核</option>
            <option value="1">未通过</option>
            <option value="2">已通过</option>
        </select>
    </div>
</script>
<script>
    layui.use(['table','layer','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.jquery;
        //显示表单状态基本信息
        var table_app=table.render({
            elem: '#bill_state'
            ,height: 480
            ,url: ' /bill/queryAll'//数据接口
            ,page: true //开启分页
            ,toolbar:"#toolbar_billState"
            ,where:{'type':"3"}
            ,loading: true
            ,cols: [
                [ //表头
                    {field: 'bid', title: '备案编号', width:180, sort: true, fixed: 'left',align: 'center'}
                    ,{field: 'ctname', title: '竞赛名称', minWidth:200,align:'center',templet: '<div>{{d.competition.ctname}}</div>'}
                    ,{field: 'workName', title: '参赛作品名',align:'center', width:140}
                    ,{field: 'groupleader', title: '项目负责人',align: 'center', width:110}
                    ,{field: 'cyear', title: '参赛年份',align:'center', width: 108, sort: true}
                    ,{field: 'predictfee', title: '预算费用',align:'center', width: 133, sort: true}
                    ,{field: 'state', title: '申请状态',align:'center', width: 120,templet: function(d){
                        if (d.state==0) {  // 自定义内容
                            return '<span style="color: #c2c2c2;">待审核</span>';
                        } else if (d.state==1) {
                            return '<span style="color: #FF5722;">审核未通过</span>';
                        }
                        else if (d.state==2) {
                            return '<span style="color: #5FB878;">审核通过</span>';
                        }else {
                            return '<span style="color: #009688;">已确认到账</span>';
                        }
                    }}
                    ,{fixed: 'right', title:'操作',align:'center', toolbar: '#bar',width:180}
                ]
            ]
        });
        //表格：“表单状态基本信息” 实例的监听工具条
        table.on('tool(bill_operate)', function(obj){ //注：tool 是工具条事件名，application_state 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            switch(layEvent){
                case 'detail':
                    $.ajax(
                        {
                            url: '/bill/queryDetail?bid=' + data.bid,
                            type: 'GET',   // 请求方式
                            success: function (result) {
                               result.data.student=data.student;
                                layer.open({
                                     type: 1
                                     ,title: '查看详细信息'  //弹出层标题
                                     ,area: ['800px', '400px']   //设置弹出层大小[宽，高]
                                     ,offset: 'auto'   //设置弹出层位置 //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                     ,content:$("#layer_bill_detail")
                                     ,btn: ['关闭']
                                     ,shade: 0 //不显示遮罩
                                     ,yes: function () {  //确定按钮回调方法， 需要手动关闭弹出层
                                         layer.closeAll();
                                     }
                                     ,end:function(){
                                     }
                                 });
                                 setTableValue(result.data);//动态向表格赋值
                            },
                            error: function () {
                                layer.msg("网络出错啦＞﹏＜");
                            }
                        }
                    );
                    break;
                case 'ensure':
                    layer.prompt({
                        formType: 0,
                        title: '输入你最终到账金额',
                        maxlength: 7
                    }, function(value, index, elem){
                        layer.close(index);
                        if (isNaN(value)) {
                            layer.msg("必须是数字");
                            return;
                        } else {
                            $.ajax(
                                {
                                    url: '/bill/ackaccount?bid=' + data.bid+'&ack='+value,
                                    type: 'POST',   // 请求方式
                                    success: function (result) {
                                        console.log(result); // 请求成功后的回调函数, result 为响应内容
                                        if(result.code == 200){
                                            layer.msg(result.message);
                                        }else {
                                            layer.msg("未知错误！");
                                        }
                                        table_app.reload();   //表格重载
                                    },
                                    error: function () {
                                        console.log('Send Request Fail..'); // 请求失败时的回调函数
                                    }
                                }
                            );
                        }
                    });
                    break;
                case 'modify':
                    if(data.resultType!=null){
                        layer.msg("修改次数已达上限");
                    }else {
                        var cdesc=document.getElementById('cdesc');
                        var predictAmount=document.getElementById('predictAmount');
                        var predictAmountDesc=document.getElementById('predictAmountDesc');
                        cdesc.innerHTML=data.cdesc;
                        predictAmount.value=data.predictfee;
                        predictAmountDesc.innerHTML=data.preditfeedesc;
                        layer.open({
                            type: 1
                            ,title: '修改备案'  //弹出层标题
                            ,area: ['800px', '400px']   //设置弹出层大小[宽，高]
                            ,offset: 'auto'   //设置弹出层位置
                            ,content:$("#layer_bill_modify")
                            ,btn: ['提交', '取消']
                            ,shade: 0 //不显示遮罩
                            ,yes: function (index, layero) {  //确定按钮回调方法， 需要手动关闭弹出层
                                layer.closeAll();
                                $.ajax(
                                    {
                                        url: '/bill/modify?bid=' + data.bid+'&budget='+predictAmount.value+'&budgetDetail='+predictAmountDesc.value+'&tripDetail='+cdesc.value,
                                        type: 'POST',   // 请求方式
                                        success: function (result) {
                                            console.log(result); // 请求成功后的回调函数, result 为响应内容
                                            if(result.code == 200){
                                                layer.msg(result.message);
                                            }else {
                                                layer.msg("未知错误！");
                                            }
                                            table_app.reload();   //表格重载
                                        },
                                        error: function () {
                                            console.log('Send Request Fail..'); // 请求失败时的回调函数
                                        }
                                    }
                                );
                            }
                            ,btn2: function(index, layero){
                            }
                        });
                    }
                    break;
            };

        });
        form.on('select(stateSelect)', function(data){
            console.log(data.value); //得到被选中的值
            table_app.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    type: data.value
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            form.val('selectForm',{
                chooseBox:data.value
            });
        });
        form.render();
        function setTableValue(data){//参数为该列的数据
            console.log(data);
            var bid=document.getElementById('bid');
            var ctname=document.getElementById('ctname');
            var workName=document.getElementById('workName');
            var cyear=document.getElementById('cyear');
            var com_type=document.getElementById('com_type');
            var clevel=document.getElementById('clevel');
            var predictfee=document.getElementById('predictfee');
            var trueProfit=document.getElementById("trueProfit");
            var preditfeedesc=document.getElementById('preditfeedesc');
            var state=document.getElementById('state');
            var member=document.getElementById("member");
            var teacher=document.getElementById("teacher");
            var evidence=document.getElementById("evidence");
            var invitation=document.getElementById("invitation");
            var memberCaptainName=document.getElementById("memberCaptainName");
            var memberCaptainNum=document.getElementById("memberCaptainNum");
            var describeCompetition=document.getElementById("describeCompetition");
            var note=document.getElementById("note");
            var str1=data.bid;
            var strYear=str1.substring(1,5);
            var strSuffix=data.attachfile;
            if(strSuffix!=null){
                var img_url = "/" +strYear+"/billfile/"+strSuffix;
                if(strSuffix.endsWith("pdf")){
                    evidence.innerHTML="<a style='color: #0000FF' target='_blank' href='"+img_url+"'>点击查看</a>";
                }else {
                    evidence.innerHTML="<img class='zhouQuanImg' src='"+img_url+"'/>";
                }
            }else {
                evidence.innerHTML="未上传名单"
            }
            if(data.invitation!=null){
                var img_url2 ="/" + strYear+"/billfile/"+data.invitation;
                invitation.innerHTML="<img class='zhouQuanImg' src='"+img_url2+"'/>";
            }else {
                invitation.innerHTML="无邀请函"
            }
            var tempMember="";
            var tempTeacher="";
            for(var i=0;i<data.students.length-1;i++)
            {
               tempMember+=data.students[i].sname+"，";
            }
            tempMember+=data.students[data.students.length-1].sname;
            if(data.teachers!=null){
                for(var i=0;i<data.teachers.length-1;i++)
                {
                    tempTeacher+=data.teachers[i].tname+"，";
                }
                tempTeacher+=data.teachers[data.teachers.length-1].tname;
                teacher.innerHTML=tempTeacher;
            }else {
                teacher.innerHTML="无";
            }
            bid.innerHTML=data.bid;               // 使用 DOM
            ctname.innerHTML=data.competition.ctname;
            cyear.innerHTML=data.cyear+"年";
            workName.innerHTML=data.workName;
            predictfee.innerHTML=data.predictfee+"元";
            preditfeedesc.innerHTML=data.preditfeedesc;
            member.innerHTML=tempMember;
            memberCaptainName.innerHTML=data.student.sname;
            memberCaptainNum.innerHTML=data.student.sno;
            var str_1=data.competition.com_type;
            var competitionType = str_1.replace(/\s*/g,"");//去除空格，Oracle中char类型不满长度补空格
            if(competitionType.length==2){
                var str2=competitionType.substr(1,1);
                com_type.innerHTML="重点竞赛"+str2+"类";
            }else {
                com_type.innerHTML="一般竞赛";
            }
            //参赛级别类型
            if(data.clevel==0)
            {
                clevel.innerHTML="省级";
            }
            if(data.clevel==1)
            {
                clevel.innerHTML="国家级";
            }
            //申请状态
            if(data.state==0)
            {
                state.innerHTML="未审核";
            }else if(data.state==1)
            {
                state.innerHTML="未通过";
            }else if(data.state==2)
            {
                state.innerHTML="已通过";
            }else {
                state.innerHTML="已确认";
            }
            if(data.ackAccount!=null){
                trueProfit.innerHTML=data.ackAccount+"元";
            }else {
                trueProfit.innerHTML="等待确认";
            }
            if(data.note!= null)
            {
                note.innerHTML=data.note;
            }else {
                note.innerHTML="等待审核";
            }
            if(data.cdesc!= null)
            {
                describeCompetition.innerHTML=data.cdesc;
            }else {
                describeCompetition.innerHTML="暂无描述";
            }
        }
    });
</script>
</body>
</html>