<!doctype html>
<html>
<head>
    <meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
    <title>备案须知</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
</head>
<body>
    <div style="text-align: center">
        <h1><strong id="noticeTitle"></strong></h1>
        <div>发布时间:<span id="noticeTime"></span>&emsp;作者:
            <span id="noticeAuthor"></span></div>
        <hr>
    </div>
    <div>
        <div style="width: 80%;padding-left: 10%" id="noticeContent">
        </div>
    </div>
    <div style="padding-left: 10%;margin-top: 30px">
        <ol id="attach">
        </ol>
    </div>
<script src="../asserts/js/jquery-1.12.4.js"></script>
<script>
    layui.use(['layer'],function () {
        $.ajax({
            type: "GET",
            url: "/bill/lnotice" ,
            dataType: 'json',
            success: function (result) {
                if(result.code == 200){
                    $("#noticeTitle").text(result.data.noticeTitle);
                    $("#noticeTime").text(result.data.updateTime);
                    console.log(result.data.updateTime);
                    var str1=result.data.updateTime;
                    var strYear=str1.substring(0,4);
                    console.log(strYear);
                    $("#noticeAuthor").text(result.data.administrator.adm_name);
                    var content=document.getElementById("noticeContent");
                    content.innerHTML=result.data.noticeContent;
                    var arrayNotice=result.data.attachments;
                    for(var i=0;i<arrayNotice.length;i++){
                        var url = "http://localhost:8083/"+strYear+"/billnote/"+arrayNotice[i].attachmentPath;
                        var temp=i+1;
                        $("<li>"+"附件"+temp+"【"+"<a style='color: #0000FF' href="+url+" download="+"'"+arrayNotice[i].attachmentName+"'"+">"+arrayNotice[i].attachmentName+"</a>"+"】"+"</li>").appendTo("#attach");
                    }

                }else {
                    layer.alert("未知错误！");
                }
            },
            error : function() {
                layer.msg("请求超时，请稍后再试！");
            }
        });
    })
</script>
</body>
</html>