<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看备案状态</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>

    <style>
        .layui-input:focus, .layui-textarea:focus{
            border-color:#5FB878!important
        }
        #layer_bill_detail{
            display: none;
        }
    </style>
</head>
<body>
<div class="form-data">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>申请状态表</legend>
    </fieldset>
    <table class="layui-hide" id="bill_state" lay-filter="bill_operate"></table>
    <!-- <table class="layui-hide" id="bill_state_detail" lay-filter="application_state_detail"></table>-->
</div>
<div id="layer_bill_detail">
    <!-- <table class="layui-hide" ></table>-->
    <table class="layui-table" id="bill_detail_table" lay-filter="bill_detail" lay-size="lg">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <td>备案编号</td>
                <td id="bid"></td>
            </tr>
        </thead>
        <tbody>
        <!--比赛信息-->
            <tr>
                <td>比赛名称</td>
                <td id="ctname"></td>
            </tr>
            <tr>
                <td>作品名称</td>
                <td id="workName"></td>
            </tr>
            <tr>
                <td>参赛年份</td>
                <td id="cyear"></td>
            </tr>
            <tr>
                <td>竞赛描述</td>
                <td id="describeCompetition"></td>
            </tr>
            <tr>
                <td>学科和科技竞赛分类</td>
                <td id="com_type"></td>
            </tr>
            <tr>
                <td>参赛级别类型</td>
                <td id="clevel"></td>
            </tr>
            <tr>
                <td>预算费用</td>
                <td id="predictfee"></td>
            </tr>
            <tr>
                <td>预算描述</td>
                <td id="preditfeedesc"></td>
            </tr>
            <tr>
                <td>申请状态</td>
                <td id="state"></td>
            </tr>
            <tr>
                <td>项目成员</td>
                <td id="member"></td>
            </tr>
            <tr>
                <td>团队负责人姓名</td>
                <td id="memberCaptainName"></td>
            </tr>
            <tr>
                <td>团队负责人编号</td>
                <td id="memberCaptainNum"></td>
            </tr>
            <tr>
                <td>指导老师</td>
                <td id="teacher"></td>
            </tr>
            <tr>
                <td>上传凭证</td>
                <td id="evidence"></td>
            </tr>
        <tr>
            <td>备注信息</td>
            <td id="note"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="../asserts/js/jquery-1.12.4.js"></script>
<script src="../asserts/js/layui/layui.all.js"></script>

<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail" id="btn_detail" name="btn_detail">查看详情</button>
    <!--    {{#  if(d.status == 2 && d.res == 1){ }}
        <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ensure" id="btn_ensure" name="btn_ensure">确认</button>
        {{#  } }}-->
</script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        //显示表单状态基本信息
        var table_app=table.render({
            elem: '#bill_state'
            ,height: 380
            ,url: ' /bill/queryAll'//数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    /*                    //详情中含有 指导老师，团队具体人员，第一单位，
                                        //layui中显示一个对象中另一个对象的属性值
                                        // { field: 'dname', title : '部门', width:80,templet: '<div>{{d.dept.dname}}</div>'}
                                        {field: 'appid', title: '申请编号', minWidth:109, sort: true,fixed: 'left'}
                                        // ,{field: 'ctname', title: '比赛名称', minWidth:200,templet: '<div>{{d.competion.ctname}}</div>'}
                                        // ,{field: 'applicantId', title: '申请人', minWidth:105,templet: '<div>{{d.appplicantStu.sname}}</div>'}
                                        // ,{field: 'leader', title: '项目组长', minWidth:105,templet: '<div>{{d.leaderStu.sname}}</div>'}
                                        ,{field: 'studentPrice', title: '学生奖励金额', minWidth: 50,templet: function(d){
                                            return d.studentPrice/100;}}
                                        ,{field: 'teacherPrice', title: '老师奖励金额', minWidth: 50,templet: function(d){
                                            return d.teacherPrice/100;}}
                                        ,{field: 'awardDate', title: '申请时间', minWidth: 150, sort: true}*/
                    {field: 'bid', title: '备案编号', width:170, sort: true, fixed: 'left',align: 'center'}
                    ,{field: 'ctname', title: '竞赛名称', minWidth:200,align:'center',templet: '<div>{{d.competition.ctname}}</div>'}
                    ,{field: 'workName', title: '参赛作品名',align:'center', width:140}

                    ,{field: 'groupleader', title: '项目负责人',align: 'center', width:97}
                    ,{field: 'cyear', title: '参赛时间',align:'center', width: 108, sort: true}
                    ,{field: 'predictfee', title: '预算费用',align:'center', width: 133, sort: true}
                    ,{field: 'state', title: '申请状态',align:'center', width: 120,templet: function(d){
                        if (d.state==0) {  // 自定义内容
                            return "未审核";
                        } else if (d.state==1) {
                            return "审核未通过";
                        }
                        else if (d.state==2) {
                            return "审核通过";
                        }
                    }}
                    ,{fixed: 'right', title:'操作',align:'center', toolbar: '#bar',width:120}
                ]
            ]
        });
        //表格：“表单状态基本信息” 实例的监听工具条
        table.on('tool(bill_operate)', function(obj){ //注：tool 是工具条事件名，application_state 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'detail'){ //查看详情
                //do something
                layer.open({
                    type: 1
                    ,title: '查看详细信息'  //弹出层标题
                    ,area: ['800px', '400px']   //设置弹出层大小[宽，高]
                    ,offset: 'auto'   //设置弹出层位置 //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    ,content:$("#layer_bill_detail")
                    ,shade: 0 //不显示遮罩
                    ,yes: function () {  //确定按钮回调方法， 需要手动关闭弹出层
                        layer.closeAll();
                    }
                    ,end:function(){
                       // location.reload();
                        table.reload('bill_detail_table');

                    }
                });
                setTableValue(data);//动态向表格赋值
            }
        });
        function setTableValue(data){
            // console.log(data.appid+"这里执行了应该显示的申请号");
            /*比赛信息*/
            console.log(data);
            var bid=document.getElementById('bid');
            var ctname=document.getElementById('ctname');
            var workName=document.getElementById('workName');
            var cyear=document.getElementById('cyear');
            var com_type=document.getElementById('com_type');
            var clevel=document.getElementById('clevel');
            var predictfee=document.getElementById('predictfee');
            var preditfeedesc=document.getElementById('preditfeedesc');
            var state=document.getElementById('state');
            var member=document.getElementById("member");
            var teacher=document.getElementById("teacher");
            var evidence=document.getElementById("evidence");
            var memberCaptainName=document.getElementById("memberCaptainName");
            var memberCaptainNum=document.getElementById("memberCaptainNum");
            var describeCompetition=document.getElementById("describeCompetition");
            var note=document.getElementById("note");
            var img_url = "http://localhost:8083/"+data.attachfile;
            if(data.attachfile!=null){
                /*   $("<tr></tr>").append("<td>"+"上传凭证"+"</td>")
                       .append("<td><img src='"+img_url+"'/>")
                       .appendTo("#bill_detail_table");*/
                evidence.innerHTML="<img src='"+img_url+"'/>";
            }else {
                evidence.innerHTML="未上传凭证"
            }
            var tempMember="";
            var tempTeacher="";
            for(var i=0;i<data.students.length-1;i++)
            {
               tempMember+=data.students[i].sname+",";
            }
            tempMember+=data.students[data.students.length-1].sname;
            if(data.teachers!=null){
                for(var i=0;i<data.teachers.length-1;i++)
                {
                    tempTeacher+=data.teachers[i].tname+",";
                }
                tempTeacher+=data.teachers[data.teachers.length-1].tname;
                teacher.innerHTML=tempTeacher;
            }else {
                teacher.innerHTML="无";
            }
            bid.innerHTML=data.bid;               // 使用 DOM
            ctname.innerHTML=data.competition.ctname;
            workName.innerHTML=data.workName;
            cyear.innerHTML=data.cyear+"年";
            com_type.innerHTML=data.competition.com_type;
            predictfee.innerHTML=data.predictfee;
            preditfeedesc.innerHTML=data.preditfeedesc;
            member.innerHTML=tempMember;
            memberCaptainName.innerHTML=data.student.sname;
            memberCaptainNum.innerHTML=data.student.sno;
            //参赛级别类型
            if(data.clevel==0)
            {
                clevel.innerHTML="省级";
            }
            if(data.clevel==1)
            {
                clevel.innerHTML="国家级";
            }
            //申请状态
            if(data.state==0)
            {
                state.innerHTML="未审核";
            }
            if(data.state==1)
            {
                state.innerHTML="未通过";
            }
            if(data.state==2)
            {
                state.innerHTML="已通过";
            }
           /* if(data.note!= null)
            {
                $("<tr></tr>").append("<td>"+"备注信息"+"</td>")
                    .append("<td>"+data.note+"</td>")
                    .appendTo("#bill_detail_table");
            }*/
            if(data.note!= null)
            {
                note.innerHTML=data.note;
            }else {
                note.innerHTML="暂无备注";
            }
            if(data.cdesc!= null)
            {
                /*$("<tr></tr>").append("<td>"+"竞赛描述"+"</td>")
                    .append("<td>"+data.cdesc+"</td>")
                    .appendTo("#bill_detail_table");*/
                describeCompetition.innerHTML=data.cdesc;
            }else {
                describeCompetition.innerHTML="暂无描述";
            }

        }
    });
</script>
</body>
</html>