<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>个人信息</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>

</head>
<body>

<div class="formdata">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>个人信息</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="" >

            <div class="layui-form-item layui-col-xs6 layui-col-sm6 layui-col-md12">
                <label class="layui-form-label" >编号</label>
                <div class="layui-input-block">
                    <input type="text"  class="layui-btn layui-btn-primary" name="ctNo" id="ctNo" data-method="offset" autocomplete="off"  placeholder="请输入修改后的编号" lay-verify="verify_ctno"  th:value="${session.id}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="ctName" id="ctName" autocomplete="off" placeholder="请输入修改后的姓名" class="layui-input" lay-verify="verify_ctname" readonly >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="ctPassword" name="ctPassword" required lay-verify="verify_ctpassword" placeholder="请输入修改后的密码" autocomplete="off" class="layui-input" readonly>
                </div>
                <div class="layui-form-mid layui-word-aux">暂不可见</div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="ctSex" value="男" title="男" checked disabled>
                    <input type="radio" name="ctSex" value="女" title="女" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">生日</label>
                <div class="layui-input-block">
                    <input type="text" name="ctBir" id="ctBir" autocomplete="off" placeholder="yyyy-mm-dd" class="layui-input" readonly>
                </div>
            </div>

            <!--teacher!!-->
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">职称</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required" readonly>
                            <option value=""></option>
                            <option value="0">教授</option>
                            <option value="1">副教授</option>
                            <option value="2">讲师</option>
                            <option value="3">助教</option>
                            <option value="4">高工</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-mid">
                    <label class="layui-form-label">所属部门</label>
                    <div class="layui-input-block">
                        <input type="text" name="ctDepartment" id="ctDepartment"  autocomplete="off" class="layui-input" lay-verify="verify_ctdepartment" readonly>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">在职状态</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required" readonly>
                            <option value=""></option>
                            <option value="0">在职</option>
                            <option value="1">离职</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--student!!-->
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">班级号</label>
                    <div class="layui-input-block">
                        <input type="text" name="ctClass" id="ctClass" autocomplete="off" class="layui-input" lay-verify="verify_ctclass" readonly>
                    </div>
                </div>

                <div class="layui-form-mid">
                    <label class="layui-form-label">寝室号</label>
                    <div class="layui-input-block">
                        <input type="text" name="ctDormitory" id="ctDormitory"  autocomplete="off" class="layui-input" lay-verify="verify_ctdormitory" readonly>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">在校状态</label>
                    <div class="layui-input-block">
                        <div class="layui-input-block">
                            <select name="city" lay-verify="required" readonly>
                                <option value=""></option>
                                <option value="0">在校</option>
                                <option value="1">离校</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-form-item" >
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-block">
                    <input type="number" name="ctTel" id="ctTel" autocomplete="off" class="layui-input" lay-verify="verify_cttel" readonly>
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">银行卡号</label>
                <div class="layui-input-block">
                    <input type="number" name="ctBankcard" id="ctBankcard" autocomplete="off" class="layui-input" lay-verify="verify_ctbankcard" readonly>
                </div>
            </div>



    </form>
</div>



<!--<script src="../asserts/js/layui/layui.js" charset="utf-8"></script>-->
<script src="../asserts/js/jquery-1.12.4.js"></script>
<script src="../asserts/js/layui/layui.all.js"></script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#ctBir' //指定元素
            ,type: 'date'
            ,trigger: 'click'//呼出事件改成click
        });

        //自定义验证规则
        form.verify({
            verify_ctno: function(value){
                if(value==null|| value == ""){
                    return '编号不能为空';
                }
            }
            ,verify_ctname: function(value){
                if(value==null|| value == ""){
                    return '姓名不能为空';
                }
            }
            ,verify_ctpassword: function(value){
                if(value==null|| value == ""){
                    return '密码不能为空';
                }
            }
            ,verify_ctbankcard: function(value){
                if(value==null|| value == ""){
                    return '申请人的银行卡号不能为空';
                }
                if(value.length>20){
                    return '请检查银行卡号是否有误';
                }
            }
        });

        form.render();//菜单渲染 把内容加载进去
    });


</script>
</body>
</html>